body {
  /*margin: 0 auto;*/
  background-color: rgba(0, 102, 0, 0.2);
}
header {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
img {
  max-width: 100%;
}
nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
nav:hover ul {
  display: block;
}
nav li {
  background-color: rgba(0, 102, 0, 1);
  color: white;
  border-bottom: solid;
  border-width: thin;
  padding: 0.1em;
}
.menu-icon {
  width: 2em;
  height: 2em;
}
.hike-container {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.hike-name {
  font-family: 'Cabin', sans-serif;
  background-color: white;
  margin-bottom: 0;
  text-align: center;
}
.hike-image {
  padding-right: 2em;
  padding-bottom: 0.8em;
  padding-left: 2em;
  padding-top: 0.8em;
  width: 80%;
}
.hike-description {
  font-family: 'Roboto', sans-serif;
}
/*visual display change beyond 640px, as viewscreen increases in pixel width, alignment of text and images should change*/
@media only screen and (min-width: 640px) {
  nav {
    background-color: rgba(0, 102, 0, 0.5);
  }
  nav ul {
    display: block;
  }
  nav li {
    background-color: inherit;
    border-bottom: none;
    display: inline;
    padding: 2em;
  }
  .hike-image {
    padding-right: 0;
    padding-left: 0;
    width: 50%;
    float: left;
  }
  .menu-icon {
    display: none;
  }
  .hike-name {
    clear: both;
  }
  .hike-container {
    width: 80%;
    float: left;
    margin: 0 auto;
    margin-left: 10%;
  }
  .hike-description {
    float: right;
    width: 50%;
    padding: 0;
    padding-top: 2em;
  }
  .hike-description::after {
    clear: both;
  }
}
/*fixes an alignment issue when reaching 820px and below where the hike description is visually off alignment*/
@media only screen and (max-width: 820px) {
  .hike-container {
    float: none;
  }
  .hike-description {
    float: none;
    width: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  .hike-image {
    float: none;
    width: 80%;
  }
}
