.white-space {
  width: 100%;
  height: 4.4em;
  background: black;
}
.landing-image {
  max-width: 100%;
}
.nav-header-container {
  position: fixed;
}
.heading {
  /*margin: auto;*/
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  text-align: center;
}
.toggle-display {
  margin-top: 0.4em;
  margin-right: 0.4em;
  text-align: center;
}
.navigation-container {
  line-height: 1.0em;
}
#filters {
  margin-top: 1em;
}
#filters li {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
#navigation li {
  display: block;
}
#projects {
  text-align: center;
}
