.nav-header-container {
  background: black;
  color: white;
  width: 100%;
  border-bottom-color: black;
  z-index: 2;
}
.heading {
  float: left;
}
.toggle-display {
  float: right;
  top: 0;
  right: 0;
  font-size: 1.2em;
  font-family: 'Cabin', sans-serif;
  color: black;
  background: white;
  border-radius: 0.2em;
  padding: 0.2em;
}
.navigation-container {
  border-bottom: solid;
  border-width: thin;
  background: black;

}
.navigation {
  background: black;
  height: 0;
  overflow: hidden;
}
.navigation-display {
  height: 2em;
  overflow: none;
}
.navigation li {
  margin-left: 1%;
  margin-right: 4%;
  display: inline-block;
}
.tab {
  background: black;
  color: white;
  margin-left: 0.5em;
}
.github-link {
  color: white;
}
.tab-highlight {
  color: rgb(102, 255, 255);
}
.containing-landing {
  position:static;
}
.landing-container {
  width: 100%;
}
.landing-image {
  z-index: 0;
}
.template {
  display: none;
}
.heading-title {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding: 0.4em;
  font-size: 2em;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
}
.section-title {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 2em;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
}
.project-image {
  width: 20em;
}
.word-count {
  margin: 0.4em;
}
.read-on {
  margin: 0.4em;
}
#about p {
  text-align: center;
}
#contact p {
  text-align: center;
}
#article-body {
  text-align: center;
  margin-bottom: 0.5em;
}
#category-filter {
  width: 20em;
  height: 3em;
  font-size: 1em;
  background: none;
}

@media only screen and (min-width: 640px) {
  .white-space {
    height: 5.6em;
  }
  .navigation {
    height: 1.4em;
    transition: none;
  }
  .toggle-display {
    display: none;
  }
  .navigation li {
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
  }
  /*.section-title {
    display: none;
  }*/
  .section-content {
    margin-top: 2em;
  }
  #article-body {
    width: 80%;
    margin-left: 10%;
  }
}
